@font-face {
  font-family: myFont;
  src: url(./public/assets/font/Helvetica.ttf);
}

body {
  margin: 0;
}

* {
  font-family: myFont;
}

.background-custom {
  background-color: #f1f3ff;
}

.brand-custom {
  background-color: #0d28a6;
  width: 100px;
  height: 34px;
}

.custom-button {
  background-color: #5cb85f;
}
.navbar-nav .nav-link {
  color: black;
}

.list-custom-bullets {
  list-style: none;
  padding: 0;
}

.list-custom-bullets li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 35px;
  font-size: 1rem;
}

.list-custom-bullets li::before {
  content: url(./public/assets/img/icon-check.svg);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: auto;
  margin-right: 10px;
}

.testimonial-section {
  background-color: #f1f3ff;
}

.carousel-control-prev,
.carousel-control-next {
  width: 56px;
  height: 56px;
  background-color: transparent;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 100%;
  height: 100%;
  background-size: 56px 56px;
  background-repeat: no-repeat;
}

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-control-prev,
.carousel-control-next {
  background-color: transparent;
  border: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 56px;
  height: 56px;
  background-size: 56px 56px;
  background-repeat: no-repeat;
}

.carousel-control-prev {
  margin-left: 15px;
}

.carousel-control-next {
  margin-right: 15px;
}

.carousel-control-prev img,
.carousel-control-next img {
  width: 56px;
  height: 56px;
}

.rent-car-section {
  background-color: #0d28a6;
}

@media (max-width: 767px) {
  .carousel-controls {
    display: flex;
    top: 15%;
  }
}

@media (max-width: 999px) {
  .carousel-controls {
    display: flex;
    top: 15%;
  }
}
